@import "../shared_styles/colors.scss";
@import "../shared_styles/typography.scss";


/*TODO: Should button match (a) or (b)?
  a) Image as sized on https://github.com/SpiffInc/spiff_react_exercises/issues/1
  b) Native image: https://user-images.githubusercontent.com/4129513/84980773-30778400-b0f0-11ea-8def-be29766e5c7f.png
  Assuming (a) because "On hover, button borders should increase to 2px width", but the native image has 2px borders, so increasing requires we start at 1px

  Dimensions of native image:
  height: 80px;
  width: 324px;
  font-size: 17px;
  border-width: 2px;
  border-radius: 40px;
  */
.start-button {
    @extend .center-align;
    @extend .small-header; //TODO: Font doesn't quite match source image

    height: 40px;
    width: 162px;
    color: $green;

    border-style: solid;
    border-color: $green;
    border-radius: 20px;
    border-width: 1px;

    &:hover {
        border-width: 2px;
    }

    &:active {
        border-width: 3px;
    }
}

.finish-button {
    @extend .start-button;

    //We're assuming we want to use the pre-defined colors for the application to maintain a common theme
    color: $red;
    border-color: $red;
}

.swap-button {
  @extend .start-button;

  //We're assuming we want to use the pre-defined colors for the application to maintain a common theme
  color: $purple;
  border-color: $purple;
}

.progress-bar {
    //TODO: Should the bar always go from orange to red, or to only show the full gradient when complete?
    background: linear-gradient(90deg, $sunrise, $red);
    height: 6px;
    //TODO: Does "at the top of the window" mean browser window or the solution container? If the latter, remove these three lines
    position: absolute;
    top: 0px;
    left: 0px;
}

.breaking-bar {
  @extend .progress-bar;

  background: linear-gradient(90deg, $coral, $purple);
}